@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

:root {
    --background: #555250;
    --text: #f0ece9;
    --red: #e67f7f;
    --blue: #7f9ae6;
}

body {
    margin: 0;
    height: 100svh;
    display: flex;
    flex-direction: column;
    place-content: center;
    place-items: center;
    background-color: var(--background);
    color: var(--text);
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    gap: 1rem;
}

* {
    box-sizing: border-box;
}

.title {
    font-size: 2.5rem;
    text-shadow: 0px 3px 5px #31302f;
    pointer-events: none;
}

.gamestate {
    font-size: 2rem;
    text-shadow: 0px 3px 5px #31302f;
    pointer-events: none;
}

.gameboard {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    place-content: center;
    place-items: center;
    gap: .375rem;
}

.replay {
    display: flex;
    align-items: center;
    gap: .5rem;
    font-size: 1.5rem;
    border-radius: .625rem;
    border: 2px solid var(--text);
    padding: .5rem 1rem .5rem .875rem;
    filter: drop-shadow(0px 3px 5px #31302f);
    cursor: pointer;
    visibility: hidden;
    transition: all .15s, transform 1s;
    opacity: 0;
}

.replay.show {
    visibility: visible;
    animation: fadeIn .5s forwards;
}

.replay.hide {
    visibility: hidden;
    animation: fadeOut .5s forwards;
}

@keyframes fadeIn {
    0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes fadeOut {
    0% { opacity: 1; }
  100% { opacity: 0; }
}

.replay svg {
    stroke: var(--text);
}

.replay:hover {
    scale: 1.03;
}

.replay:active {
    scale: .98;
}

.square {
    display: flex;
    place-content: center;
    place-items: center;
    background-color: var(--text);
    height: 100%;
    width: 100%;
    cursor: pointer;
    border-radius: .625rem;
    box-shadow: 0px 3px 5px #31302f;
    transform: rotateY(180deg)
    scale(1);
    scale: 1;
    transition: all .15s, transform 1s;
    position: relative;
    transform-style: preserve-3d;
}

.square::before {
    content: '';
    height: 100%;
    width: 100%;
    background-color: var(--text);
    position: absolute;
    border-radius: .625rem;
    transform: translateZ(-1px);
}

.square:hover {
    box-shadow: 0px 6px 10px #31302f;
    transform:  rotateY(180deg);
    scale: 1.03;
}

.square:active {
    box-shadow: 0px 3px 5px #31302f;
    transform:  rotateY(180deg);
    scale: .98;
}

.square.p1 {
    background-color: #f7e1e1;
    transform: rotateY(0deg);
}

.square.p1 svg {
    fill: var(--red);
}

.square.p2 {
    background-color: #e1eaf7;
    transform: rotateY(0deg);
}

.square.p2 svg {
    fill: var(--blue);
}

.scoreboard {
    display: flex;
    gap: 1rem;
}

.scoreboard > div {
    display: flex;
    align-items: center;
    gap: .5rem;
    font-size: 1.5rem;
    border-radius: .625rem;
    border: 2px solid var(--text);
    padding: .5rem 1rem .5rem .875rem;
    filter: drop-shadow(0px 3px 5px #31302f);
}

.scoreboard > div.p1 {
    border: 2px solid var(--red);
}

.scoreboard > div.p2 {
    border: 2px solid var(--blue);
}